.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-container {
	height: 520px;
	width: 520px;
	background-color: red;
}

.grid {
	background-color: lightgrey;
	/* Width is the sum of all cell widths */
	width: 480px;
}

.row {
	display: flex;
}

.cell {
	height: 30px;
	width: 30px;
	background-color: grey;
}

.cell.coloured {
	background-color: black;
}
