.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-container {
	height: 400px;
	width: 400px;
	background-color: red;
}

.grid {
	background-color: black;
	/* Width is combined cell width plus combined margin width. */
	width: 354px;
}

.row {
	display: flex;
	gap: 2px;
}

.cell {
	height: 20px;
	width: 20px;
	background-color: grey;
	margin-top: 2px
}

.cell-bottom {
	margin-bottom: 2px;
}

.cell-left {
	margin-left: 2px;
}

.cell-right {
	margin-right: 2px;
}
