html {
	/* Needed for footer */
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0px;
	border: 0px;
	font-family: sans-serif;
	text-align: center;
	color: #ECEFF4;
	background-color: #3B4252;
	/* Needed for footer */
	min-height: 100%;
}

/* Header */
header {
	margin-bottom: 25px;
	background-color: #2E3440;
}

h1 {
	font-size: 45px;
	font-weight: bold;
	color: #EBCB8B;
}

/* Main */

button {
	border: none;
	border-radius: 8px;
	padding: 6px 12px;
	font-size: 16px;
	color:  #2E3440;
	background-color: #8FBCBB;
}

button:hover {
	background-color: #88C0D0;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mode,
.slider-controls,
.reset-button {
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	background-color: #5E81AC;

}

.grid-buttons {
	border-radius: 8px;
	background-color: #5E81AC;
}

.mode-buttons {
	gap: 20px;
}

.value {
	margin-bottom: 10px;
	font-size: 24px;
}

.grid-container {
	margin: 20px;
	border-radius: 8px;
	height: 540px;
	width: 540px;
	background-color: #5E81AC;
}

.grid {
	display: grid;
	height: 500px;
	width: 500px;
	background-color: #D8DEE9;
}

.cell {
	background-color: #D8DEE9;
}

.cell.coloured {
	background-color: #2E3440;
}

.grid-buttons {
	margin: 20px;
}


/* Footer */

footer {
	margin-top: auto;
	padding: 20px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #D8DEE9;
}

a:hover {
	color: #8FBCBB;
}

/* Input range slider */

/* Removes browser default styling */
input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	background: transparent;
}

/* Thumb styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	cursor: pointer;
	margin-top: -4px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #D8DEE9;
}

/* Thumb styling for Firefox */
input[type=range]::-moz-range-thumb {
	cursor: pointer;
	height: 16px;
	width: 16px;
	border: 1px solid #D8DEE9;
	border-radius: 50%;
	background: #D8DEE9;
}

/* Track styling for WebKit/Blink */
input[type=range]::-webkit-slider-runnable-track {
	cursor: pointer;
	height: 8px;
	width: 100%;
	border-radius: 3px;
	background: #8FBCBB;
}

/* Track styling for Firefox */
input[type=range]::-moz-range-track {
	cursor: pointer;
	height: 8px;
	width: 100%;
	border-radius: 3px;
	background: #8FBCBB;
}
